#content {
    color: #7e7171d2;
    width: 650px;
    float: left;
}

textarea {
    width: 219px;
    height: 111px;
    margin: 0px
    
    
}

textarea{
border: silver 5px groove;
}


#boton {
    background: #31384A;
    color: #fff;
}

input {
    border: silver 5px groove;
    margin: auto;
}